@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");


body {
  margin: 0;
  padding: 0;
}

a, a:after {
  color: black;
  text-decoration: none;
}


.opener {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Press Start 2P", "avenir next", helvetica, sans-serif;
  text-transform: uppercase;
  background-color: rgb(154,141,97);
  background-image: radial-gradient(ellipse at center, rgb(138, 128, 97) 0, rgb(154,141,97) 75%);
  background-size: 40vh 40vh;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

main {
  position: relative;
  min-width: 300px;
}



h2 {
  padding-top: 5vh;
  text-align: center;
}

.base {
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border: 5px solid #000;
  border-radius: 100%;
  -webkit-animation: intro ease-out 1s 2s forwards;
          animation: intro ease-out 1s 2s forwards;
}

.base div {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  -webkit-animation: fan linear 1s 2s infinite;
          animation: fan linear 1s 2s infinite;
}

ul {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  margin: 0;
  padding: 0;
  border-radius: 100%;
  overflow: hidden;
  list-style: none;
  will-change: transform;
}

ul::before, ul::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 4px solid #cbab33;
  background: #000;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  content: '';
}

ul li {
  position: absolute;
  top: -27px;
  left: 13px;
  border: 58px solid transparent;
  border-top-width: 100px;
  border-top-color: #000;
  border-bottom-width: 0;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

ul li:nth-child(1) {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

ul li:nth-child(2) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

ul li:nth-child(3) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

h1 {
  position: absolute;
  top: 20%;
  height: 60%;
  width: 100%;
  font-weight: 100;
  text-align: center;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

h1 span {
  -webkit-animation: fade ease-out 0.3s 2.4s forwards;
          animation: fade ease-out 0.3s 2.4s forwards;
}

h1::after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  content: 'To RADIATION LAND';
  opacity: 0;
  animation: fade ease-out 0.3s 2.8s reverse forwards;
}

@-webkit-keyframes fan {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes fan {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes intro {
  70%,
  100% {
    border-color: transparent;
  }
}

@keyframes intro {
  70%,
  100% {
    border-color: transparent;
  }
}

@-webkit-keyframes stick {
  70%,
  100% {
    opacity: 1;
  }
}

@keyframes stick {
  70%,
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

.press-start {
  animation: color-change 1s infinite;
  animation-delay: 4s;
}

@keyframes color-change {
    0% { color: black; }
    50% { color: rgba(73, 73, 73, 0.651); }
    100% { color: black; }
}



